<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>analog-technica</title>
        <link rel="icon" type="image/x-icon" href="./img/favicon.ico">

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

        <!-- Vue Router -->
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

        <!-- Vue Loader -->
        <script src="https://unpkg.com/http-vue-loader"></script>

        <!-- Vuetify -->
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    
<body>
    <div id="app">
        <v-app>
            <v-app-bar app color="blue-grey lighten-4" src="./img/D8A99D2C-3CDF-47C1-8411-2D2DE69E572E 2.JPG"
                scroll-target="#scrolling-techniques-3" dark prominent>
                <v-container class="py-8 fill-height">
                    <v-avatar class="mr-10" color="grey darken-1" size="56">
                        <img src="./img/IMG_3849.jpg">
                    </v-avatar>
                    <v-app-bar-title class="text-h5">
                        analog-technica
                    </v-app-bar-title>

                    <!-- <v-btn color="white" v-for="link in links" :key="link" text>
                        {{ link }}
                    </v-btn> -->

                    <!-- <v-spacer></v-spacer> -->

                </v-container>
            </v-app-bar>
            <v-main class="grey lighten-3">
                <v-container>
                    <v-row>
                        <v-col cols="2">
                            <v-text-field class="my-4" dense flat hide-details rounded solo-inverted
                                label="Search for ..." append-icon="mdi-magnify">
                            </v-text-field>
                            <v-sheet rounded="lg">
                                <v-list color="transparent">
                                    <!-- <v-list-item v-for="n in 5" :key="n" link> -->
                                    <v-list-item v-for="(menu,i) in menus" :key="i" link>
                                        <v-list-item-icon>
                                            <v-icon v-text="menu.icon"></v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                            <v-list-item-title v-text="menu.text">
                                            </v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>
                            </v-sheet>
                        </v-col>

                        <v-col>
                            <v-sheet min-height="70vh" rounded="lg">
                                <v-container>
                                    <v-text class="d-flex justify-center font-italic py-4" >ARTICLES</v-text>
                                    <v-row>
                                        <v-col v-for="(item, i) in items" :key="i" class="d-flex" cols="3">
                                            <v-col>
                                                <v-card class="mx-auto">
                                                    <v-list-item>
                                                        <v-list-item-content>
                                                            <div class="text-overline mb-4">
                                                                {{ item.category }}
                                                            </div>
                                                            <v-list-item-title class="text-h5 mb-1">
                                                                {{ item.title }}
                                                            </v-list-item-title>
                                                            <v-list-item-subtitle>{{ item.date }}</v-list-item-subtitle>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                </v-card>
                                            </v-col>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="./src/main.js"></script>
</body>
</html>